.head {

    /* Auto layout */
    margin-left: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 961px;
    height: 36px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin:80px;
    margin-left: 100px;
}

.lbl{
    width: 120px;
height: 29px;
font-family: 'Lexend', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #000000;
}

.logo {
    width: 82px;
    height: 57px;
    margin-left: 40px;
    margin-top:20px;
}

.logBtn{
   width: 81px;
   height: 36px;
   border-radius: 24px;
   background: #FAB516;
   border: 1px solid #FAB516;
}

.logLbl{
width: 54px;
height: 16px;

font-family: 'Lexend', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #4F3084;
}

.partBtn{
    width: 180px;
height: 36px;
left: 17px;
top: 0.5px;

background: #4F3084;
border: 1px solid #4F3084;
border-radius: 24px;
}

.partLbl{
    width: 141px;
height: 20px;
left: 36px;
top: 6.5px;

font-family: 'Lexend', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}